<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

    <title>title</title>
    <!-- css library -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/buttons.css">
    <!-- js library -->
    <script src="jslib/jquery.min.js"></script>
    <script src="jslib/d3.js"></script>
    <script src="jslib/underscore-min.js"></script>
    <script src="jslib/bootstrap.min.js"></script>
    <script src="jslib/buttons.js"></script>
    <!-- css -->
    <link rel="stylesheet" href="css/main.css">
</head>
    

<body>


<div id="top-div">
	<div id="top-left-div" class="outer-div">
		<div id="view1" class="block-div">
			
		</div>
	</div>
	<div id="top-middle-div" class="outer-div">
		<div id="view2_btn" class="btn-div">
			&nbsp;<button class="button button-primary button-circle button-tiny" id="plusbtn"><i class="fa fa-plus"></i></button>
			<button class="button button-primary button-circle button-tiny" id="minusbtn"><i class="fa fa-minus"></i></button>
		</div>
		<div id="view2" class="block-div">
			
		</div>
	</div>
	<div id="top-right-div">
		<div id="top-right-top-div" class="outer-div">
			<div id="view3" class="block-div">
				
			</div>
		</div>
		<div id="top-right-bottom-div" class="outer-div">
			<div id="view4" class="block-div">
				
			</div>
		</div>
	</div>
</div>
<div id="bottom-div" class="outer-div">
	<div id="view5" class="block-div">
		
	</div>
</div>

<!-- js -->
<script src="js/view5.js"></script>
<script src="js/view2.js"></script>
<script src="js/view3.js"></script>
<script src="js/observer.js"></script>

</body>


</html>